<launch>

  <!-- Load map file -->
  <param name="map_file" value="$(find occupancy_grid)/maps/$(arg map_file)"/>

  <!-- Load Walls -->
  <node pkg="map_representation" type="map_representation" name="map_representation">
  </node>
  <!-- Load OccupancyGrid -->
  <node pkg="occupancy_grid" type="occupancy_grid" name="occupancy_grid" output="screen"/>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ras_launch)/grid.rviz" />

  <node pkg="ras_tf" type="broadcaster" name="broadcaster" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="-0.075 0 0 0 0 0 base_link laser 10"/>


</launch>
