<launch>

  <rosparam command="load" file="$(find ras_launch)/global_parameters.yaml" />

  <!-- load the odometry node -->
  <node pkg="ras_localization" type="odometry" name="odometry"/>

  <!-- load the tf node and static transforms-->
  <node pkg="ras_tf" type="broadcaster" name="broadcaster" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="-0.075 0 0.2275 0 0 0 base_link laser 10"/>

  <!-- run the motors -->
  <node pkg="phidgets" type="motor" name="right">
    <param name="serial" value="490597"/>
    <param name="name" value="right"/>
    <param name="frequency" value="10"/>
    <param name="invert_motor" value="true"/>
  </node>
  <node pkg="phidgets" type="motor" name="left">
    <param name="serial" value="469411"/>
    <param name="name" value="left"/>
    <param name="frequency" value="10"/>
  </node>

  <!-- load the motors controller node -->
  <node pkg="ras_motor_controller" type="ras_motor_controller" name="ras_motor_controller">
    <rosparam command="load" file="$(find ras_motor_controller)/motor_params.yaml" />
  </node>

  <!-- Load map file -->
  <param name="map_file" value="$(find occupancy_grid)/maps/$(arg map_file)"/>
  <node pkg="map_representation" type="map_representation" name="map_representation" output="screen"/>
  <!-- Load OccupancyGrid -->
  <node pkg="occupancy_grid" type="occupancy_grid" name="occupancy_grid" output="screen"/>
  <node pkg="ras_localization" type="particle_filter" name="particle_filter"/>
  <!--node pkg="occupancy_grid" type="mapping" name="mapping"/-->


  <!-- Load Lidar -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

</launch>
